/*BASE SMACSS*/
header, body, h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background: transparent;
    font-family: Garamond;
}

header h1 {
  text-align: center;
  font-family: Garamond, Baskerville, serif;
  font-size: 5em;
}

article {
  font-family: Garamond, Baskerville, serif;
}

article p {
  font-size: 1.2em;
}

p img {
  min-width: 20%;
  max-width: 100%;
  display: block;
  margin: 10px auto;
}

/*LAYOUT RULES*/
.center {
  text-align: center;
}

.form {
  display: inline-block;
  padding: 1em;
  font-weight: bold;
  text-align: center;
}

.icon {
  width:1.5em;
  padding-top:0.5em;
}

/*MODULES - ABOUT ME*/
#about-me {
  display:none;
  text-align:center;
  background-color: #3F7CAC;
  color: #FFFFFF;
  padding:1em;
}

/*MODULES - FOOTER*/
#footer {
  width: 100%;
  background-color: #3F7CAC;
  min-height: 2em;
  padding-top: 0.5em;
}

#footer p {
  text-align: center;
  color: white;
  padding: 1em;
  font-family: Garamond, Baskerville, serif;
  font-size: 1.25em;
}

/*MODULES - NAV BAR*/
#navbar {
  background: #68C5DB;
  padding: 1em;
}

#navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  display: block;
  zoom: 1;
  text-align: center;
}

#navbar ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

#navbar ul li a {
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 1.2em 1.2em;
  font-family: Garamond, Baskerville, serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3em;
  letter-spacing: 0.1em;
  position: relative;
}

/*STATE RULES*/
@media screen and (max-device-width:768px) {
  header h1 {
    font-size: 4em;
  }
  #navbar {
    width:70%;
  }

  #navbar ul li a {
    content: ' ';
    color: transparent;
    font-weight: normal;
    letter-spacing: -0.5em;
    padding: 0;
    margin: 0;
    margin-top: -1em;
  }
}

@media screen and (max-width:712px) {
  header h1 {
    font-size: 4em;
  }
  #navbar {
    width:70%;
  }

  #navbar ul li a {
    content: ' ';
    color: transparent;
    font-weight: normal;
    letter-spacing: -0.5em;
    padding: 0;
    margin: 0;
    margin-top: -1em;
  }
}
