<article class="container blogPosts">
  <h1>{{this.title}}</h1>
  <h5><a href={{{this.authorUrl}}}>
    <h5>{{{this.author}}}</h5>
  </a></h5>
  <h5>Published on {{this.date}}, {{this.timestamp}}</h5>
  <h6>Category: {{this.category}}</h6>
  {{#adminButt}}
  <button class="edit button-primary">Edit Post</button>
  {{/adminButt}}
  <div class="parBod">{{{this.markdown}}}</div>
  <div class="read-more"><button name="button" class="readButt button-primary">Read more</button>
  </div>

  <div id="disqus_thread"></div>
  <script>
      (function() {  // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');

          s.src = '//sabrinatee.disqus.com/embed.js';

          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

</article>
